/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 mars 2015, 17:24:10
    Author     : vortigern
*/

div.banner {
    height: 150px;
    margin-left: 0px ;
    margin-right: 0px ;
    padding-left: 0px ;
    padding-right: 0px ;
    width:100%;
    background-color:silver;
    opacity:1.0;
    overflow: hidden ;
}

div.bannerStandard {
    height: 150px;
    margin-left: 0px ;
    margin-right: 0px ;
    padding-left: 0px ;
    padding-right: 0px ;
    width:100%;
    opacity:1.0;
    overflow: hidden ;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ebf1f6+0,abd3ee+50,89c3eb+51,d5ebfb+100;Blue+Gloss+%234 */
    background: rgb(235,241,246); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(235,241,246,1) 0%, rgba(171,211,238,1) 50%, rgba(137,195,235,1) 51%, rgba(213,235,251,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(235,241,246,1)), color-stop(50%,rgba(171,211,238,1)), color-stop(51%,rgba(137,195,235,1)), color-stop(100%,rgba(213,235,251,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* IE10+ */
    background: linear-gradient(135deg, rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


div.bannerAlert {
    height: 150px;
    margin-left: 0px ;
    margin-right: 0px ;
    padding-left: 0px ;
    padding-right: 0px ;
    width:100%;
    opacity:1.0;
    overflow: hidden ;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ebf1f6+0,ffb7b7+50,ff9696+51,ffd8d8+100 */
    background: rgb(235,241,246); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(235,241,246,1) 0%, rgba(255,183,183,1) 50%, rgba(255,150,150,1) 51%, rgba(255,216,216,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(235,241,246,1)), color-stop(50%,rgba(255,183,183,1)), color-stop(51%,rgba(255,150,150,1)), color-stop(100%,rgba(255,216,216,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(235,241,246,1) 0%,rgba(255,183,183,1) 50%,rgba(255,150,150,1) 51%,rgba(255,216,216,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(235,241,246,1) 0%,rgba(255,183,183,1) 50%,rgba(255,150,150,1) 51%,rgba(255,216,216,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(235,241,246,1) 0%,rgba(255,183,183,1) 50%,rgba(255,150,150,1) 51%,rgba(255,216,216,1) 100%); /* IE10+ */
    background: linear-gradient(135deg, rgba(235,241,246,1) 0%,rgba(255,183,183,1) 50%,rgba(255,150,150,1) 51%,rgba(255,216,216,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#ffd8d8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}



svg.banner {
    height: 400px;
    margin-top:-200px;
    margin-left: 0px ;
    margin-right: 0px ;
    padding-left: 0px ;
    padding-right: 0px ;
    width:100%;

}

.testCircle {
    fill:#c7d2f1;
    fill-opacity:1.0;
    stroke:none;

}